$gosp-version: "1.0.0";
$gosp-responsive: true;
$gosp-grid-system: 'flex'; // flex | float | inline | fractions
$gosp-grid-columns: 12;

$gosp-breakpoints: (
	xs: (max: em(480px)),
	sm: (min: em(481px), max: em(768px)),
	md: (min: em(769px), max: em(1280px)),
	lg: (min: em(1281px), max: em(1600px)),
	xl: (min: em(1601px))
);

$gosp-font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
$gosp-font-family-serif:       Georgia, "Times New Roman", Times, serif;
$gosp-font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
$gosp-font-family-base:        $gosp-font-family-sans-serif;

$gosp-font-size-base:          16px;
$gosp-font-size-large:         ceil(($gosp-font-size-base * 1.25)); // ~18px
$gosp-font-size-small:         ceil(($gosp-font-size-base * 0.85)); // ~12px

$gosp-font-size-h1:            floor(($gosp-font-size-base * 2.6)); // ~36px
$gosp-font-size-h2:            floor(($gosp-font-size-base * 2.15)); // ~30px
$gosp-font-size-h3:            ceil(($gosp-font-size-base * 1.7)); // ~24px
$gosp-font-size-h4:            ceil(($gosp-font-size-base * 1.25)); // ~18px
$gosp-font-size-h5:            $gosp-font-size-base;
$gosp-font-size-h6:            ceil(($gosp-font-size-base * 0.85)); // ~12px

$gosp-line-height-base:        1.428571429; // 20/14
$gosp-line-height-computed:    floor(($gosp-font-size-base * $gosp-line-height-base)); // ~20px

$gosp-headings-font-family:    inherit;
$gosp-headings-font-weight:    500;
$gosp-headings-line-height:    1.1;
$gosp-headings-color:          inherit;
