@if ($gosp-debug) {
/*
	$responsive: #{$gosp-responsive};
	$grid-type: #{$gosp-grid-type};
	$grid-fractionary: #{$gosp-grid-fractionary};
	$grid-columns: #{$gosp-grid-columns};
	Breakpoints:
		xs-max: 1 #{$gosp-xs-max}
		sm-min: 1 #{$gosp-sm-min}
		sm-max: 1 #{$gosp-sm-max}
		md-min: 1 #{$gosp-md-min}
		md-max: 1 #{$gosp-md-max}
		lg-min: 1 #{$gosp-lg-min}
		lg-max: 1 #{$gosp-lg-max}
		xl-min: 1 #{$gosp-xl-min}
*/
}
