.container,
.container-fluid {	
	margin-right: auto;
	margin-left: auto;
}

.container {
	width: 90%;
}
	
.row {	
	@if $grid-system == 'flex' {	
		display: flex;
		flex: 0 1 auto;
		flex-direction: row;
		flex-wrap: wrap;
		
		&.reverse {
			  flex-direction: row-reverse
		}
		
		&.column-reverse {
			flex-direction: column-reverse;
		}
		
		&.as-column {
			flex-direction: column;
		}

		&.as-row {
			flex-direction: row;
		}
	}
	
	@else if $grid-system == 'fractions' or $grid-system == 'inline' {
		letter-spacing: -0.31em;
		*letter-spacing: normal;
		word-spacing: -0.43em;

	}
	
	@else if $grid-system == 'float' {
		display: table;
		&:after
		&:before {
			content: ' ';
			clear: both;
			@extend .row;
		}
	}
}
				
[class*="col-"] {	
	@if $grid-system == 'flex' {
		flex: 0 0 auto;
	}
	
	@else {
		width: 100%;
		@if $grid-system == 'fractions' or $grid-system == 'inline' {
			display: inline-block;
			vertical-align: top;
			zoom: 1;
			*display: inline;
			letter-spacing: normal;
			word-spacing: normal;
		}
		
		@else if $grid-system == 'float' {
			float: left;
		}
		
	}
}

@if $grid-system != 'flex' {
	[class*="-push-"],
	[class*="-pull-"],
	{
		position: relative;
	}
}

@if $responsive {

	@include center-box(xs);
	@include grid(xs, $grid-system);
	
	@include xs() {
		.container {
			max-width: 460px;
		}
		
		@if $grid-system == 'flex' {
			.col-xs,
			.col-sm,
			.col-md,
			.col-lg,
			{
				flex-basis: 100%;
				width: 100%;
			}

			[class*="col-sm-"],
			[class*="col-md-"],
			[class*="col-lg-"],
			{
				width: 100%;
				flex-basis: auto;
			}
		}
	}
			
	@include sm-down() {
		@if $grid-system == 'float' {
			@include grid(sm, $grid-system);
		}

		@include center-box(sm, down);
	}

	@include sm-up() {	
		.container {
			width: 90%;
		}
		
		@if $grid-system == 'flex' {	
			.col-xs,
			.col-sm{
				flex-basis: 0;
				flex-grow: 1;
			}

			[class*="col-md"],
			[class*="col-lg"],
			[class*="col-xl"],
			{
				width: 100%;
				flex-basis: auto;
			}
		}


		@include center-box(sm, up);		
		@include grid(sm, $grid-system);
	}
}

@include md-up {	
	.container {	
		width: 90%;
		max-width: 1200px;
	}
	
	@if $grid-system == 'flex' {	
		.col-xs
		.col-md,
		.col-lg{
			flex-basis: 0;
			flex-grow: 1;
		}
		
		.col-xl{
			flex-basis: 100%;
			width: 100%;
		}
	}

	@include center-box(md, up);
	@include grid(md, $grid-system);
	
}

@include md-down {
	@include center-box(md, down);
}
	
@include lg-up {
	.container {
		width: 90%;
		max-width: 1600px;
	}
	
	@if $grid-system == 'flex' {
		.col-lg {
			flex-basis: 0;
			flex-grow: 1;
		}
	}		

	@include center-box(lg, up);
	@include grid(lg, $grid-system);
}

@include lg-down {
	@include center-box(lg, down);
}

@include xl {
	.container {
		width: 90%;
		max-width: 1920px;
	}
	
	@if $grid-system == 'flex' {
		.col-xl {
			flex-basis: 0;
			flex-grow: 1;
		}
	}		
		
	@include center-box(lg);
	@include grid(xl, $grid-system)	
}
