@import "mixins";

@mixin xl(){
	@include media(xl, true, false){
		@content;
	}
}

@mixin lg(){
	@include media(lg){
		@content;
	}
}

@mixin lg-up(){
	@include media(lg, true, false){
		@content;
	}
}

@mixin lg-down(){
	@include media(lg, false, true){
		@content;
	}
}

@mixin md(){
	@include media(md){
		@content;
	}
}

@mixin md-up(){
	@include media(md, true, false){
		@content;
	}
}

@mixin md-down(){
	@include media(md, false, true){
		@content;
	}
}

@mixin sm(){
	@include media(sm){
		@content;
	}
}

@mixin sm-up(){
	@include media(sm, true, false){
		@content;
	}
}

@mixin sm-down(){
	@include media(sm, false, true){
		@content;
	}
}


@mixin xs(){
	@include media(xs, false, true){
		@content;
	}
}
