$debug: true;
$responsive: true;
$grid-system: 'flex';
$grid-columns: 12;

$breakpoints: (
	xs: (max: 480px),
	sm: (min: 481px, max: 960px),
	md: (min: 961px, max: 1280px),
	lg: (min: 1281px, max: 1600px),
	xl: (min: 1601px)
);

$colors: (
	0: #000,
	3: #333,
	6: #666,
	9: #999,
	A: #AAA,
	C: #CCC,
	E: #EEE,
	F: #FFF
);

$borders: (
	s: solid,
	w: wavy,
	da: dashed,
	do: dotted
);

$sides: (
	t: top,
	l: left,
	r: right,
	b: bottom
);

$cursors: (
	d: default,
	p: pointer,
	t: text, 
	w: wait,
	na: not-allowed
);

$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:       Georgia, "Times New Roman", Times, serif;
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base:        $font-family-sans-serif;

$font-size-base:          14px;
$font-size-large:         ceil(($font-size-base * 1.25)); // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)); // ~12px

$font-size-h1:            floor(($font-size-base * 2.6)); // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)); // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)); // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)); // ~18px
$font-size-h5:            $font-size-base;
$font-size-h6:            ceil(($font-size-base * 0.85)); // ~12px

$headings: (
	1: $font-size-h1,
	2: $font-size-h2,
	3: $font-size-h3,
	4: $font-size-h4,
	5: $font-size-h5,
	6: $font-size-h6
);


$line-height-base:        1.428571429; // 20/14
$line-height-computed:    floor(($font-size-base * $line-height-base)); // ~20px

$headings-font-family:    inherit;
$headings-font-weight:    500;
$headings-line-height:    1.1;
$headings-color:          inherit;
