extends inc/layout
include inc/mixins

block main
	section.main.hin
		.container.hin
			.row.hin.aic.jcc
				.col
					.row.aic.jcc
						.col-xs-12.tac
							h1.fw300.fsp40(title="Oriented Objects CSS") 
								div #[span.oocss GOSP].CSS
								//- .fsp12 Oriented Object CSS
							h2.fw300.fsp20
								div A light powerful library
								div to make front-end faster & easiest
						.col-auto
							.p5
								a.btn.flat(href="#")
									div Get started

						.col-auto
							.p5
								a.btn.get(href="https://github.com/fdorantesm/gosp.css/archive/master.zip")
									div Download
						.col-xs-12.tac
							ul.list-reset.list-inline.tags
								li flex
								li grid
								li margin
								li padding
								li text
								li show
								li hide
								li +