.p10
	h2.fsp34 Flexbox Grid
	p Grid system using flex properties

.p10
	h3.fw300.fsp26 Flex Columns

div
	each item in [1,3,5,7,11,13,17,19]
		.row.example
			- var n = 1
			while n <= item
				.col.tac.fsp8.col-sm
					div
				- n++
.p10
	code.html
		pre
			+scape()
				.row
					.col
					.col
					.col
					.col
.p10
	h3.fw300.fsp26 Flex stack column
	p This column stains flexible over its resolution size
	.row.example
		.col-md 
			.tac Full width over md
		.col-md 
			.tac Full width over md
		.col-md 
			.tac Full width over md
	.p10
		code.html
			pre
				+scape()
					.row
						.col-md
						.col-md
						.col-md

.p10
	h3.fw300.fsp26 Content width column

div
	.row.example
		each i in ["lorem ipsum", "hello world", "hi", "hi there"]
			.col-auto.tac
				div= i
	.p10
		code.html
			pre
				+scape()
					.row
						.col-auto
						.col-auto
						.col-auto
						.col-auto
.p10
	h3.fw300.fsp26 12 Columns based

div
	.row.example
		each i in [1,2,3]
			.col-md-4.col-xs
				.tac col-md-4

	.row.example
		.col-md-8.col-xs
			.tac col-md-8
		.col-md-4.col-xs
			.tac col-md-4

	.row.example
		each i in [1,2,3,4]
			.col-md-3.col-xs
				.tac col-md-3

	.row.example
		.col-md-7.col-xs
			.tac col-md-7
		.col-md-5.col-xs
			.tac col-md-5
	//- each i in [1,2,3,4,5,6,7,8,9,10,11]
	//- 	.row.example
	//- 		div(class="col-xs-"+i)
	//- 			.tac= i
			
	//- 		div(class="col-xs-"+(12-i))
	//- 			.tac= (12-i)

		//- .p10
		//- 	code.html
		//- 		pre
		//- 			+scape()
		//- 				.row
		//- 					div(class="col-xs-"+i)
		//- 					div(class="col-xs-"+(12-i))
	.p10
		code.html
			pre
				+scape()
					.row
						.col-md-8
						.col-md-4
	.p10
		h3.fw300.fsp26 Mobile and desktop resize
		p You can use size prefix to resize columns in each resolution size
	.row.example
		each i in [1,2,3,4,5,6]
			.col-md-4.col-xs-6
				.tac col-md-4 col-xs-6
	.p10
		code.html
			pre
				+scape()
					.row
						.col-md-4.col-xs-6
						.col-md-4.col-xs-6
						.col-md-4.col-xs-6
						.col-md-4.col-xs-6
						.col-md-4.col-xs-6
						.col-md-4.col-xs-6

	.p10
		h3.fw300.fsp26 Mobile, tablet and desktop resize
		p If you use only a prefix the column will have the same width until the next bigger resolution prefix used
	.row.example
		.col-xs-6.col-md-4
			.tac col-xs-6 col-md-4
		.col-xs-6.col-md-4
			.tac col-xs-6 col-md-4
		.col-xs-6.col-md-4
			.tac col-xs-6 col-md-4
	.p10
		code.html
			pre
				+scape()
					// col-sm-6 and col-lg-4 are implicit
					.row
						.col-xs-6.col-md-4
						.col-xs-6.col-md-4
						.col-xs-6.col-md-4

	.row.example
		.col-md-9.col-sm-10.col-xs-12
			.tac 
				div col-md-9 
				div col-sm-10
				div col-xs-12
		.col-md-3.col-sm-2.col-xs-12
			.tac 
				div col-md-3
				div col-sm-2
				div col-xs-12
	.p10
		code.html
			pre
				+scape()
					// col-lg is implict with col-md
					.row
						.col-md-9.col-sm-10.col-xs-12
						.col-md-3.col-sm-2.col-xs-12

.pr10.pl10
	p #[b Note]: Columns don't have side padding, the box color were made with an inner div.
