article
	.p10
		h3.fw300.fsp26 Visible and hidden
		p This aux classes let you hide and show elements through resolutions
		table.table.fixed.fw
			thead
				tr
					th
					th Extra small
					th Small
					th Medium
					th Large
			tbody
				tr
					td .visible
					td.success Visible
					td.success Visible
					td.success Visible
					td.success Visible
				tr
					td .visible-xs
					td.success Visible
					td.disabled Hidden
					td.disabled Hidden
					td.disabled Hidden
				tr
					td .visible-sm-below
					td.success Visible
					td.success Visible
					td.disabled Hidden
					td.disabled Hidden
				tr
					td .visible-sm
					td.disabled Hidden
					td.success Visible
					td.disabled Hidden
					td.disabled Hidden
				tr
					td .visible-sm-above
					td.disabled Hidden
					td.success Visible
					td.success Visible
					td.success Visible
				tr
					td .visible-md-below
					td.success Visible
					td.success Visible
					td.success Visible
					td.disabled Hidden
				tr
					td .visible-md
					td.disabled Hidden
					td.disabled Hidden
					td.success Visible
					td.disabled Hidden
				tr
					td .visible-md-above
					td.disabled Hidden
					td.disabled Hidden
					td.success Visible
					td.success Visible
				tr
					td .visible-lg
					td.disabled Hidden
					td.disabled Hidden
					td.disabled Hidden
					td.success Visible
				tr
					td .hidden-xs
					td.disabled Hidden
					td.success Visible
					td.success Visible
					td.success Visible
				tr
					td .hidden-sm-below
					td.disabled Hidden
					td.disabled Hidden
					td.success Visible
					td.success Visible
				tr
					td .hidden-sm
					td.success Visible
					td.disabled Hidden
					td.success Visible
					td.success Visible
				tr
					td .hidden-sm-above
					td.success Visible
					td.disabled Hidden
					td.disabled Hidden
					td.disabled Hidden
				tr
					td .hidden-md-below
					td.disabled Hidden
					td.disabled Hidden
					td.disabled Hidden
					td.success Visible
				tr
					td .hidden-md
					td.success Visible
					td.success Visible
					td.disabled Hidden
					td.success Visible
				tr
					td .hidden-md-above
					td.success Visible
					td.success Visible
					td.disabled Hidden
					td.disabled Hidden
				tr
					td .hidden-lg
					td.success Visible
					td.success Visible
					td.success Visible
					td.disabled Hidden
				tr
					td .hidden
					td.disabled Hidden
					td.disabled Hidden
					td.disabled Hidden
					td.disabled Hidden
		//- .row
			.col-md-6
				ul.lsn
					li .hidden-lg
					li .hidden-md
					li .hidden-md-below
					li .hidden-md-above
					li .hidden-sm
					li .hidden-sm-below
					li .hidden-sm-above
					li .hidden-xs
			.col-md-6
				ul.lsn
					li .visible-lg
					li .visible-md
					li .visible-md-above
					li .visible-md-below
					li .visible-sm
					li .visible-sm-above
					li .visible-sm-below
					li .visible-xs
			.col-md-6
				ul
		//- .row
			.col-md-6
				p Current non hidden classes
				ul.lsn
					li.hidden-lg Hidden on lg
					li.hidden-md Hidden on md
					li.hidden-md-below Hidden on md and below
					li.hidden-md-above Hidden on md and above
					li.hidden-sm Hidden on sm
					li.hidden-sm-below Hidden on sm and below
					li.hidden-sm-above Hidden on sm and above
					li.hidden-xs Hidden on xs

				p Current show classes
				ul.lsn
					li.visible-lg Show on lg
					li.visible-md Show on md
					li.visible-md-above Show on md and above
					li.visible-md-below Show on md and below
					li.visible-sm Show on sm
					li.visible-sm-above Show on sm and above
					li.visible-sm-below Show on sm and below
					li.visible-xs Show-xs