@mixin hide() {
	display: none;
}

@mixin show() {
	display: initial;
}

@mixin center-box($size, $side: null) {
	.#{$size}#{if($side, '-' + $side, '')} {
		&-center {
			&-align {
				margin: {
					left: auto;
					right: auto;
				}
			}
		}
	}
}

@mixin list-columns($columns, $prefix: null) {
	.#{if($prefix, $prefix + '-', '')}list-columns-#{$columns} {
		columns: $columns;
	}
}

@mixin list-helper($prefix: null){
	.#{if($prefix, $prefix + '-', '')}list {
		&-inline {
			li {
				display: inline-block;
			}
		}

		&-block {
			li {
				display: block;
			}
		}
	}
}