@import 'mixins'

.container,
.container-fluid
	margin-right auto
	margin-left auto

.container
	width 90%
	
.row
	box-sizing border-box
	if $grid-system == 'flex'
		display flex
		flex 0 1 auto
		flex-direction row
		flex-wrap wrap
		&.reverse
			  flex-direction row-reverse
	
	else if $grid-system == 'fractions'
		display block
		letter-spacing -0.31em
		*letter-spacing normal
		word-spacing -0.43em
	
	else if $grid-system == 'float'
		&:after
		&:before
			content ' '
			display table
			clear both
				
[class^="col-"]
	box-sizing border-box
	if $grid-system == 'flex'
		flex 0 0 auto
		&.reverse
			  flex-direction column-reverse	
	else if $grid-system == 'fractions' {
		width 100%
		display inline-block
		vertical-align top
		zoom 1
		*display inline
		letter-spacing normal
		word-spacing normal
	}
	
	else if $grid-system == 'float' {
		float left
	}

unless $grid-system == 'flex'
	[class*="-push-"]
	[class*="-pull-"]
		position relative

if $responsive

	grid(xs, $grid-system)
	
	if $grid-system == 'flex'
		.col-lg
			flex-basis 100%
			width 100%

	+xs()
		.container
			max-width 460px
		
		if $grid-system == 'flex'
			.col-xs, .col-md
				flex-basis 100%
				width 100%		
			[class^="col-sm"]
			[class^="col-md"]
			[class^="col-lg"]
				width 100%
				flex-basis auto	
	+xs(true)
		if $grid-system == 'float'
			grid(xs, $grid-system)
			
	+sm(false, true)
		if $grid-system == 'float'
			grid(xs, $grid-system)

	+sm(true, false)
		
		.container
			width 90%
		
		if $grid-system == 'flex'
			.col-xs
			.col-sm
				flex-basis 0
				flex-grow 1

			[class^="col-md"]
			[class^="col-lg"]
				width 100%
				flex-basis auto
			
		grid(sm, $grid-system)
		

+md(true, false)
	
	.container
		width 90%
		max-width 1200px
	
	if $grid-system == 'flex'
		.col-xs
		.col-md
			flex-basis 0
			flex-grow 1
		
		.col-lg
			flex-basis 100%
			width 100%

	grid(md, $grid-system)
	
	
+lg()
	
	.container
		width 90%
		max-width 1600px
	
	if $grid-system == 'flex'
		.col-lg
			flex-basis 0
			flex-grow 1
			
			
		
	grid(lg, $grid-system)