@import 'mixins'

.container,
.container-fluid
	margin-right auto
	margin-left auto

.container
	width 90%
	
.row
	box-sizing border-box
	if $grid-system == 'flex'
		display -webkit-box
		display -ms-flexbox
		display flex
		-webkit-box-flex 0
		-ms-flex 0 1 auto
		flex 0 1 auto
		-webkit-box-orient horizontal
		-webkit-box-direction normal
		-ms-flex-direction row
		flex-direction row
		-ms-flex-wrap wrap
		flex-wrap wrap
		&.reverse
			-webkit-box-orient horizontal
			  -webkit-box-direction reverse
			  -ms-flex-direction row-reverse
			  flex-direction row-reverse
	else
		if $grid-system == 'inline' || $grid-system == 'wp'
			display block
		else
			display table
			&:after, &:before
				content ' '
				display table
				
[class^="col-"]
	box-sizing border-box
	if $grid-system == 'flex'
		-webkit-box-flex 0
		-ms-flex 0 0 auto
		flex 0 0 auto
		&.reverse
			-webkit-box-orient vertical
			  -webkit-box-direction reverse
			  -ms-flex-direction column-reverse
			  flex-direction column-reverse
	else
		if $grid-system == 'inline' || $grid-system == 'wp'
			display inline-block
			vertical-align top
		else
			float left

		
	

if $responsive

	grid(xs, $grid-system)
	
	.col-lg
		flex-basis 100%
		width 100%

	+xs()
		.container
			max-width 460px
		
		if isFlex()
			.col-xs, .col-md
				flex-basis 100%
				width 100%
		
		[class*="col-sm"]
			width 100%
			if isFlex()
				flex-basis 100%

	+sm(true, false)
		
		.container
			width 90%
		
		if isFlex()
			
			.col-xs
			.col-sm
				flex-basis 0
				flex-grow 1

		[class*="col-md"]
			width 100%
			if isFlex()
				flex-basis 100%
			
		grid(sm, $grid-system)

+md(true, false)
	
	.container
		width 90%
		max-width 1200px
	
	if isFlex()
		.col-xs
		.col-md
			flex-basis 0
			flex-grow 1
		
		.col-lg
			flex-basis 100%
			width 100%
			

	grid(md, $grid-system)
	
	
+lg()
	
	.container
		width 90%
		max-width 1600px
	
	if isFlex()	
		
		.col-lg
			flex-basis 0
			flex-grow 1
			
			
		
	grid(lg, $grid-system)