xs()
	@media only screen and (max-width: unit(breakpoint('xs', 'max'), px))
		{block}

sm()
	@media only screen and (min-width: unit(breakpoint('sm', 'min'), px)) and (max-width: unit(breakpoint('sm', 'max'), px))
		{block}

md()
	@media only screen and (min-width: unit(breakpoint('md', 'min'), px)) and (max-width: unit(breakpoint('md', 'max'), px))
		{block}

lg()
	@media only screen and (min-width: unit(breakpoint('lg', 'min'), px))
		{block}
