include ../../inc/mixins

article#visible-hidden
	header
		h3.fw300.fsp26 Visible and hidden
		p This aux classes let you hide and show elements through resolutions
	section
		article
			table.table-fixed.fw.table-responsive.breakpoint-visibility
				thead
					tr.cells-centered
						th
						th Extra small
						th Small
						th Medium
						th Large
				tbody
					tr
						td .visible
						td.success.tac #[.fa.fa-check]
						td.success.tac #[.fa.fa-check]
						td.success.tac #[.fa.fa-check]
						td.success.tac #[.fa.fa-check]
					tr
						td .visible-xs
						td.success.tac #[.fa.fa-check]
						td.disabled.tac #[.fa.fa-times]
						td.disabled.tac #[.fa.fa-times]
						td.disabled.tac #[.fa.fa-times]
					tr
						td .visible-sm-below
						td.success.tac #[.fa.fa-check]
						td.success.tac #[.fa.fa-check]
						td.disabled.tac #[.fa.fa-times]
						td.disabled.tac #[.fa.fa-times]
					tr
						td .visible-sm
						td.disabled.tac #[.fa.fa-times]
						td.success.tac #[.fa.fa-check]
						td.disabled.tac #[.fa.fa-times]
						td.disabled.tac #[.fa.fa-times]
					tr
						td .visible-sm-above
						td.disabled.tac #[.fa.fa-times]
						td.success.tac #[.fa.fa-check]
						td.success.tac #[.fa.fa-check]
						td.success.tac #[.fa.fa-check]
					tr
						td .visible-md-below
						td.success.tac #[.fa.fa-check]
						td.success.tac #[.fa.fa-check]
						td.success.tac #[.fa.fa-check]
						td.disabled.tac #[.fa.fa-times]
					tr
						td .visible-md
						td.disabled.tac #[.fa.fa-times]
						td.disabled.tac #[.fa.fa-times]
						td.success.tac #[.fa.fa-check]
						td.disabled.tac #[.fa.fa-times]
					tr
						td .visible-md-above
						td.disabled.tac #[.fa.fa-times]
						td.disabled.tac #[.fa.fa-times]
						td.success.tac #[.fa.fa-check]
						td.success.tac #[.fa.fa-check]
					tr
						td .visible-lg
						td.disabled.tac #[.fa.fa-times]
						td.disabled.tac #[.fa.fa-times]
						td.disabled.tac #[.fa.fa-times]
						td.success.tac #[.fa.fa-check]
					tr
						td .hidden-xs
						td.disabled.tac #[.fa.fa-times]
						td.success.tac #[.fa.fa-check]
						td.success.tac #[.fa.fa-check]
						td.success.tac #[.fa.fa-check]
					tr
						td .hidden-sm-below
						td.disabled.tac #[.fa.fa-times]
						td.disabled.tac #[.fa.fa-times]
						td.success.tac #[.fa.fa-check]
						td.success.tac #[.fa.fa-check]
					tr
						td .hidden-sm
						td.success.tac #[.fa.fa-check]
						td.disabled.tac #[.fa.fa-times]
						td.success.tac #[.fa.fa-check]
						td.success.tac #[.fa.fa-check]
					tr
						td .hidden-sm-above
						td.success.tac #[.fa.fa-check]
						td.disabled.tac #[.fa.fa-times]
						td.disabled.tac #[.fa.fa-times]
						td.disabled.tac #[.fa.fa-times]
					tr
						td .hidden-md-below
						td.disabled.tac #[.fa.fa-times]
						td.disabled.tac #[.fa.fa-times]
						td.disabled.tac #[.fa.fa-times]
						td.success.tac #[.fa.fa-check]
					tr
						td .hidden-md
						td.success.tac #[.fa.fa-check]
						td.success.tac #[.fa.fa-check]
						td.disabled.tac #[.fa.fa-times]
						td.success.tac #[.fa.fa-check]
					tr
						td .hidden-md-above
						td.success.tac #[.fa.fa-check]
						td.success.tac #[.fa.fa-check]
						td.disabled.tac #[.fa.fa-times]
						td.disabled.tac #[.fa.fa-times]
					tr
						td .hidden-lg
						td.success.tac #[.fa.fa-check]
						td.success.tac #[.fa.fa-check]
						td.success.tac #[.fa.fa-check]
						td.disabled.tac #[.fa.fa-times]
					tr
						td .hidden
						td.disabled.tac #[.fa.fa-times]
						td.disabled.tac #[.fa.fa-times]
						td.disabled.tac #[.fa.fa-times]
						td.disabled.tac #[.fa.fa-times]
			//- .row
				.col-md-6
					ul.lsn
						li .hidden-lg
						li .hidden-md
						li .hidden-md-below
						li .hidden-md-above
						li .hidden-sm
						li .hidden-sm-below
						li .hidden-sm-above
						li .hidden-xs
				.col-md-6
					ul.lsn
						li .visible-lg
						li .visible-md
						li .visible-md-above
						li .visible-md-below
						li .visible-sm
						li .visible-sm-above
						li .visible-sm-below
						li .visible-xs
				.col-md-6
					ul
			//- .row
				.col-md-6
					p Current non hidden classes
					ul.lsn
						li.hidden-lg Hidden on lg
						li.hidden-md Hidden on md
						li.hidden-md-below Hidden on md and below
						li.hidden-md-above Hidden on md and above
						li.hidden-sm Hidden on sm
						li.hidden-sm-below Hidden on sm and below
						li.hidden-sm-above Hidden on sm and above
						li.hidden-xs Hidden on xs

					p Current show classes
					ul.lsn
						li.visible-lg Show on lg
						li.visible-md Show on md
						li.visible-md-above Show on md and above
						li.visible-md-below Show on md and below
						li.visible-sm Show on sm
						li.visible-sm-above Show on sm and above
						li.visible-sm-below Show on sm and below
						li.visible-xs Show-xs