@import 'nib/normalize'
@import '../../../util/palette'
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"

vendor-prefixes = moz webkit o ms khtml

html
	height 100%
	min-height 100%

body
	height inherit
	min-height inherit
	margin 0
	font-family sans-serif
	main
		height inherit
		
.btn
	color #FFF
	padding 11px 20px
	border none
	font-size 16px
	text-transform uppercase
	display block
	&.flat
		background palette('Grey', '900')
		padding 1px
		border none
		box-sizing padding-box
		> div
			background #FFF
			color palette('Grey', '900')
			padding 10px 20px
		
	&.get
		background palette('Purple', '800')

.tags
	li
		padding 2px 5px
		background #ccc
		border-radius 3px
		font-size 8px
		&:not(:last-child)
			margin-right 5px
			
.row
	&.example
		[class*="col"]
			padding-right 10px
			padding-left 10px
			color paletteText('Purple', '800')
			min-height 30px
			&.green
				background-color palette('Green')
				
			> *
				display block
				padding-top 20px
				padding-bottom 20px
				margin 1em auto
				background palette('Purple', '800')

table
	&.purple
		thead
			tr
				background palette('Purple', '800')
				color paletteText('Purple', '800')
		tbody
			tr:not(:nth-child(odd))
				background palette('Purple', '100')
				color paletteText('Purple', '100')
	thead
		th
			padding 1em
			font-weight 400
	tbody
		tr
			td
				padding 0.5em
				&:first-child
					text-align left
				&.success
					background palette('Green', '600')
					color paletteText('Green', '600')
				&.disabled
					background palette('Grey', '200')
					color palette('Grey', '500')

code
	padding 1em 2em!important