@each $i, $color in $colors{
	.bc#{$i} {
		background-color: $color;
	}
}

.bn {
	background: none;
}

.biu {
	background-image: unset;
}

.baf {
	background-attachment: fixed;
}

.bpcb, .bnbc {
	background-position: center bottom;
}

.bpcc {
	background-position: center center;
}

.bpct, .bptc {
	background-position: center top;
}

.bplb, .bpbl {
	background-position: left bottom;
}

.bplc, .bpcl {
	background-position: left center;
}

.bplt,.bptl {
	background-position: left top;
}

.bprb, .bpbr {
	background-position: right botton;
}

.bprc, .bpcr {
	background-position: right center;
}

.bprt, .bptr {
	background-position: right top;
}

.brnr {
	background-repeat: no-repeat;
}

.brr {
	background-repeat: repeat;
}

.brrx {
	background-repeat: repeat-x;
}

.brry {
	background-repeat: repeat-y;
}

.bscc {
	background-size: contain;
}

.bscv {
	background-size: cover;
}

.bsx {
	background-size: 100% 100%;
}
