*, ::before, ::after {
	box-sizing: border-box;
}

html {
	min-height: 100%;
}

body {
	&.normalized {
		margin: 0;
		font-size: $gosp-font-size-base;
		font-family: $gosp-font-family-base;
		min-height: inherit;
	}

	&.debug {
		* {
			border: 0.25px dashed #ccc;
			&::before {
				content: attr(class);
				letter-spacing: normal;
				display: table;
				background: hsl(60, 100, 75);
				width: 100%;
				font-size: 0.75rem;
				color: red;
			}
		}
	}
}

.w100vw {
	width: 100vw;
}

.fw {
	width: 100%;
}
