*, :before, :after {
	box-sizing: border-box;
}

html {
	min-height: 100%;
}

body.normalized {
	margin: 0;
	font-size: $font-size-base;
	font-family: $font-family-base;
	min-height: inherit;
}

.w100vw {
	width: 100vw;
}

.fw {
	width: 100%;
}
