.lsn {
	list-style: none;
}

.list-reset {	
	padding: 0;
	margin: 0;
	@extend .lsn;
}

@for $x from 1 through ($gosp-grid-columns / 2) {
	@include list-columns($x);
}

@include sm {
	@for $x from 1 through ($gosp-grid-columns / 2) {
		@include list-columns($x, sm);
	}
}

@include sm-up {
	@for $x from 1 through ($gosp-grid-columns / 2) {
		@include list-columns($x, sm-up);
	}
}

@include sm-down {
	@for $x from 1 through ($gosp-grid-columns / 2) {
		@include list-columns($x, sm-down);
	}
}

@include md {
	@for $x from 1 through ($gosp-grid-columns / 2) {
		@include list-columns($x, md);
	}
}

@include md-up {
	@for $x from 1 through ($gosp-grid-columns / 2) {
		@include list-columns($x, md-up);
	}
}

@include md-down {
	@for $x from 1 through ($gosp-grid-columns / 2) {
		@include list-columns($x, md-down);
	}
}

@include lg {
	@for $x from 1 through ($gosp-grid-columns / 2) {
		@include list-columns($x, lg);
	}
}

@include lg-up {
	@for $x from 1 through ($gosp-grid-columns / 2) {
		@include list-columns($x, lg-up);
	}
}

@include lg-down {
	@for $x from 1 through ($gosp-grid-columns / 2) {
		@include list-columns($x, lg-down);
	}
}

@include xl {
	@for $x from 1 through ($gosp-grid-columns / 2) {
		@include list-columns($x, xl);
	}
}


ul, ol {	
	&.list-inline {
		li {
			display: inline-block;
		}
	}
			
	@each $key, $val in $gosp-list-style {
		&.#{$key} {
			list-style: $val;
		}
	}
}
