@import '../variables'

for color in $colors
	.bc{color}
		background-color $colors[color]

.bn
	background none

.biu
	background-image unset

.baf
	background-attachment fixed

.bpcb, .bnbc
	background-position center bottom !important

.bpcc
	background-position center center !important

.bpct, .bptc
	background-position center top !important

.bplb, .bpbl
	background-position left botton !important

.bplc, .bpcl
	background-position left center !important

.bplt,.bptl
	background-position left top !important

.bprb, .bpbr
	background-position right botton !important

.bprc, .bpcr
	background-position right center !important

.bprt, .bptr
	background-position right top !important

.brnr
	background-repeat no-repeat

.brr
	background-repeat repeat

.bscc
	background-size contain !important

.bscv
	background-size cover !important

.bsx
	background-size 100% 100% !important
