.bn
	border none

.bsn
	border-style none

for style in $borders
	.bs{style}
		border-style $borders[style]
	
for side in $sides
	for style in $borders
		border-side = $sides[side]
		.b{side + 's' + style}
			border-{border-side}-style $borders[style]

for x in 1..10
	
	.br{x}
		border-radius unit(x, px)
		
	.bw{x}
		border-width unit(x, px)
	
	.btw{x}
		border-top-width unit(x, px)
	
	.blw{x}
		border-left-width unit(x, px)
		
	.brw{x}
		border-right-width unit(x, px)

	.bbw{x}
		border-bottom-width unit(x, px)

for color in $colors
	.bc{color}
		border-color $colors[color]
	
	.btc{color}
		border-top-color $colors[color]
	
	.blc{color}
		border-left-color $colors[color]

	.brc{color}
		border-right-color $colors[color]
	
	.bbc{color}
		border-bottom-color $colors[color]
