.db
	display block
	
.di
	display inline
	
.dib
	display inline-block
	
.dt
	display table
	
.dtc
	display table-cell
	
.dtr
	display table-row
	
.dtrg
	display table-row-group
	
.dfx
	display flex
	
.dn
	display none
