class(h, height, px, 0, 45, 5)
class(h, height, px, 50, 90, 10)
class(h, height, px, 100, 500, 50)

.h100p
	height 100%

.h75p
	height 75%

.h50p
	height 50%

.h25p
	height 25%

.hin
	height inherit

.h100vh
	height 100vh
