.ma
	margin auto
	
.m0a
	margin 0 auto
	
class(m,  margin, px, 0, 50, 5)
class(mt, margin-top, px, 0, 50, 5)
class(ml, margin-left, px, 0, 50, 5)
class(mr, margin-right, px, 0, 50, 5)
class(mb, margin-bottom, px, 0, 50, 5)

class(p,  padding, px, 0, 50, 5)
class(pt, padding-top, px, 0, 50, 5)
class(pl, padding-left, px, 0, 50, 5)
class(pr, padding-right, px, 0, 50, 5)
class(pb, padding-bottom, px, 0, 50, 5)
