.ttu
	text-transform uppercase

.ttl
	text-transform lowecase

.tac
	text-align center

.taj
	text-align justify

.tar
	text-align right

.tal
	text-align left

.i, i
	font-style italic

.o
	font-style oblique

.n
	font-weight normal

.b, b, em
	font-weight bold

.tdu, u
	text-decoration underline

.tdo
	text-decoration overline

.tdlt, del, s
	text-decoration line-through

.tduo, .tdou
	text-decoration underline overline

.tduos, .tduso .tdous, .tdosu, .tdsou, .tdsuo
	text-decoration underline overline line-through

.tdss
	text-decoration-style solid
	
.tdsdo
	text-decoration-style dotted

.tdsda
	text-decoration-style dashed

.tdsw
	text-decoration-style wavy
	
p.paragraph-reset
	margin 0

h1,h2,h3,h4,h5,h6
	line-height $headings-line-height
	font-weight $headings-font-weight

for i in 1..6
	h{i}
		font-size lookup('$font-size-h' + i)

+xs()
	.xs-text-center
		text-align center

+sm()
	.sm-text-center
		text-align center
	
+md()
	.md-text-center
		text-align center

+lg()
	.lg-text-center
		text-align center
