.visible, .hidden-sm, .hidden-md, .hidden-md-below, .hidden-md-above, .hidden-lg, .hidden-sm-above, .visible-sm-below, .visible-sm-above
	show()
	
.hidden, .hidden-xs, .visible-xs, .visible-sm, .visible-md, .visible-lg, .visible-md-above, .visible-md-below, .hidden-sm-below, .hidden-md-below
	hide()

+xs()
		
	.hidden-md-below, .visible-sm-above
		hide()
	
	.visible-xs, .visible-md-below
		show()
		

+sm()
	
	.hidden-sm, .hidden-md-below, .hidden-sm-above
		hide()

	.visible-md-below, .hidden-xs, .visible-sm
		show()

+md()
	
	.hidden-md, .hidden-md-below, .hidden-md-above, .hidden-sm-above, .visible-sm-below
		hide()
	
	.visible-md, .visible-md-above, .visible-md-below, .hidden-lg, .hidden-sm-below, .hidden-xs
		show()

+lg()
	
	.hidden-md-above, .hidden-lg, .hidden-sm-above, .visible-sm-below
		hide()
	
	.hidden-xs, .visible-lg, .visible-md-above, .hidden-md-below, .hidden-sm-below
		show()
