.bn
	background none

.biu
	background-image unset

.bc0
	background #000

.bc3
	background #333

.bc6
	background #666

.bc9
	background #999

.bcA
	background #AAA

.bcC
	background #CCC

.bcE
	background #EEE

.bcF
	background #FFF