.jcc
	justify-content center

.jcfs
	justify-content flex-start

.jcfe
	justify-content flex-end
	
.jcsa
	justify-content space-around

.jcsb
	justify-content space-between

.jcs
	justify-content stretch

.jcu
	justify-content unset

.aic
	align-items center

.aifs
	align-items flex-start

.aife
	align-items flex-end

.aiu
	align-items unset
	
.fdr
	flex-direction row

.fdrr
	flex-direction row-reverse

.fdc
	flex-direction column


.fdcr
	flex-direction column-reverse

.fww
	flex-wrap wrap
	
.fwwr
	flex-wrap wrap-reverse

.fwnw
	flex-wrap nowrap

class(fg, flex-grow, '', 0, 6, 1)
class(fsh, flex-shrink, '', 0, 6, 1)
