class(name, attr, i ,gap)
	for x in 1..i
		.{name}{x}0
			{attr} unit(gap*x, px) !important

.h100p
	height 100%

.h75p
	height 75%

.h50p
	height 50%

.h25p
	height 25%

.h0
	height 0

.hin
	height inherit

.h100vh
	height 100vh

.w100vw
	width 100vw

.fw
	width 100%	
