class(name, attr, i ,gap)
	for x in 1..i
		.{name}{x}0
			{attr} unit(gap*x, px) !important

.h100p
	height 100%

.h75p
	height 75%

.h50p
	height 50%

.h25p
	height 25%

.h0
	height 0

.hin
	height inherit

.h100vh
	height 100vh

.w100vw
	width 100vw
	
class(l,left,5,10)
class(t,top,5,10)
class(h,height,5,10)

class(mt,margin-top,5,10)
class(ml,margin-left,5,10)
class(mr,margin-right,5,10)
class(mb,margin-bottom,5,10)

class(p,padding,5,10)
class(pt,padding-top,5,10)
class(pr,padding-right,5,10)
class(pb,padding-bottom,5,10)
class(pl,padding-left,5,10)

.p0
	padding 0

.p5
	padding 5px
	
.pr0
	padding-right 0
	
.pl0
	padding-left 0

.pt0
	padding-top 0

.pb0
	margin-bottom 0	

.m0
	margin 0

.m5
	margin 5px

.mr0
	margin-right 0
	
.ml0
	margin-left 0

.mt0
	margin-top 0

.mb0
	margin-bottom 0
	
.l0
	left 0 !important

.t0
	top 0 !important

.r0
	right 0 !important

.b0
	bottom 0 !important
