class(h, height, 5, 10)
class(h, height, 100, 5)

.h0
	height 0px

.h5
	height 5px

.h100p
	height 100%

.h75p
	height 75%

.h50p
	height 50%

.h25p
	height 25%

.h0
	height 0

.hin
	height inherit

.h100vh
	height 100vh