.pr
	position relative
	
.ps
	position static
	
.pa
	position absolute
	
.pu
	position unset
	
.pf
	position fixed

.fr
	float right

.fl
	float left

.fn
	float none
	
.fu
	float unset

.abs
	@extend .pa
	top 0
	left 0
	bottom 0
	right 0
	width 100%
	height 100%

.vam
	vertical-align middle

.vat
	vertical-align top

.vab
	vertical-align bottom

.vas
	vertical-align sub

class(t, top, px, 0, 50, 5)
class(l, left, px, 0, 50, 5)
class(r, right, px, 0, 50, 5)
class(b, bottom, px, 0, 50, 5)
