.pr
	position relative
	
.ps
	position static
	
.pa
	position absolute
	
.pu
	position unset
	
.pf
	position fixed

.fr
	float right

.fl
	float left

.fn
	float none
	
.fu
	float unset

.abs
	@extend .pa
	top 0
	left 0
	bottom 0
	right 0
	width 100%
	height 100%

.vam
	vertical-align middle

.vat
	vertical-align top

.vab
	vertical-align bottom

.vas
	vertical-align sub
	
.t0
	top 0

.r0
	right 0

.b0
	bottom 0

.l0
	left 0

class(l, left, 5, 10)
class(t, top, 5, 10)
class(r, right, 5, 10)
class(b, bottom, 5, 10)
