.show, .hide-sm, .hide-md, .hide-md-below, .hide-md-above, .hide-lg
	display block
	
.hide, .hide-xs, .show-xs, .show-sm, .show-md, .show-lg, .show-md-above, .show-md-below
	display none

+xs()
	.xs-text-center
		text-align center
		
	.hide-md-below
		display none!important
	
	.show-xs, .show-md-below
		display block!important
		

+sm()
	.sm-text-center
		text-align center
	
	.hide-sm, .hide-md-below
		display none!important

	.show-md-below
		display block!important

+md()
	.md-text-center
		text-align center
	
	.hide-md, .hide-md-below, .hide-md-above
		display none!important
	
	.show-md, .show-md-above, .show-md-below
		display block!important

+lg()
	.lg-text-center
		text-align center
	
	.hide-md-above, .hide-lg
		display none!important
	
	.hide-xs, .show-lg, .show-md-above
		display block!important
