.ttu
	text-transform uppercase

.ttl
	text-transform lowecase

.tdu
	text-decoration underline

.tac
	text-align center

.taj
	text-align justify

.tar
	text-align right

.tal
	text-align left

p.paragraph-reset
	margin 0

+xs()
	.xs-text-center
		text-align center

+sm()
	.sm-text-center
		text-align center
	
+md()
	.md-text-center
		text-align center

+lg()
	.lg-text-center
		text-align center
