.ttu
	text-transform uppercase

.ttl
	text-transform lowecase

.tdu
	text-decoration underline

.tac
	text-align center

.taj
	text-align justify

.tar
	text-align right

.tal
	text-align left

for x in 1..9
	.fw{x*100}
		font-weight (x*100)
