.visible, .hidden-sm, .hidden-md, .hidden-md-below, .hidden-md-above, .hidden-lg, .hidden-sm-above, .visible-sm-below, .visible-sm-above
	visible()
	
.hidden, .hidden-xs, .visible-xs, .visible-sm, .visible-md, .visible-lg, .visible-md-above, .visible-md-below, .hidden-sm-below, .hidden-md-below
	collapse()

+xs()
		
	.hidden-md-below, .visible-sm-above
		collapse()
	
	.visible-xs, .visible-md-below
		visible()
		

+sm()
	
	.hidden-sm, .hidden-md-below, .hidden-sm-above
		collapse()

	.visible-md-below, .hidden-xs, .visible-sm
		visible()

+md()
	
	.hidden-md, .hidden-md-below, .hidden-md-above, .hidden-sm-above, .visible-sm-below
		collapse()
	
	.visible-md, .visible-md-above, .visible-md-below, .hidden-lg, .hidden-sm-below, .hidden-xs
		visible()

+lg()
	
	.hidden-md-above, .hidden-lg, .hidden-sm-above, .visible-sm-below
		collapse()
	
	.hidden-xs, .visible-lg, .visible-md-above, .hidden-md-below, .hidden-sm-below
		visible()
