<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../dist/style.min.css">
	<title></title>
	style.
		.box {
			background: rebeccapurple;
			color: #FFF;
			text-align: center;
			padding: 1em;
			border: 1px solid #FFF;
		}
</head>
<body>
	//- // Order
	//- .row
		.box.col-md-3.md-2nd.xs-4th 1
		.box.col-md-3.md-3th.xs-3th 2
		.box.col-md-3.md-4th.xs-2nd 3
		.box.col-md-3.md-1st.xs-1st 4
	//- offset
	.container
		.row
			.box.col-md-6.col-md-offset-6 Column
	//- Pull and push
	.container
		.row
			.box.col-md-6.col-md-push-6 1st element
			.box.col-md-6.col-md-pull-6 2nd element
</body>
</html>