extends layout
include mixins

block main
	section.main.hin
		.container.hin
			.row.hin.aic.jcc
				.col
					.row.aic.jcc
						.col-xs-12.tac
							h1.fw300.fsp40(title="Oriented Objects CSS") 
								div OO#[span.oocss CSS]
								//- .fsp12 Oriented Object CSS
							h2.fw300.fsp20 A light powerful framework to make front-end easiest
						.col-auto
							.p5
								a.btn.flat(href="docs.html")
									div Get started

						.col-auto
							.p5
								a.btn.get(href="https://github.com/fdorantesm/oocss/archive/master.zip")
									div Download
						.col-xs-12.tac
							ul.list-reset.list-inline.tags
								li flex
								li grid
								li margin
								li padding
								li text
								li show
								li hide
								li +