extends layout
include mixins

block main
	section.main.hin
		.container.hin
			.row.hin.aic.jcc
				.col
					.row.aic.jcc
						.col-xs-12.tac
							h1.fw300.fsp40 Oriented Objects CSS
							p A light powerful helper package to make front-end faster
						.col-auto
							.p5
								a.btn.flat(href="https://github.com/fdorantesm/oocss")
									div Github #[i.fa.fa-github]

						.col-auto
							.p5
								a.btn.get(href="https://github.com/fdorantesm/oocss/archive/master.zip")
									div Download
						.col-xs-12.tac
							ul.list-reset.list-inline.tags
								li flex
								li grid
								li margin
								li padding
								li text
								li show
								li hide
								li +
	.fluid-container
		.row
			.col-md-3.col-lg-2.hidden-sm-below
				aside
					nav
						ul.lsn.list-reset
							li: a(href="#") OOCSS
							li: a(href="#") Background
							li: a(href="#") Border
							li: a(href="#") Box sizing
							li: a(href="#") Color
							li: a(href="#") Cursor
							li: a(href="#") Display
							li: a(href="#") Float
							li: a(href="#") Flex
							li: a(href="#") Font
							li: a(href="#") Grid
							li: a(href="#") Height
							li: a(href="#") List
							li: a(href="#") Margin & Padding
							li: a(href="#") Opacity & Visibility
							li: a(href="#") Position
							li: a(href="#") Text
							li: a(href="#") Visible & Hidden
			.col-md-9.col-lg-10
				.p10.bcC
					//- section.grid
					//- 	include partials/flexbox
					section.helpers
						include partials/background
						include partials/border
						include partials/box-sizing
						include partials/color
						include partials/cursor
						include partials/display
						include partials/flex
						include partials/float
						include partials/font
						include partials/height
						include partials/list
						include partials/margin-and-padding
						include partials/opacity-and-visibility
						include partials/position
						include partials/text
						include partials/visible-and-hidden
