doctype
html
	head
		//- link(rel="stylesheet" href="https://rawgit.com/fdorantesm/oocss/master/bootstrap.css")
		link(rel="stylesheet" href="../bootstrap.css")
		link(rel="stylesheet" href="assets/css/style.css")
		link(rel="stylesheet" href="assets/js/highlight/monokai-sublime.css")
		meta(charset="UTF-8")
		title Oriented Object CSS
	body
		main
			block main
		//- footer
		//- 	.row.jcc.aic
		//- 		.col
		//- 			p Made with love
		script(src="assets/js/highlight/highlight.pack.js")
		script(src="assets/js/jquery-3.3.1.min.js")
		script(src="assets/js/scripts.js")